* {
    margin: 0;
    padding: 0;
}
body {
    background: #f3ffad;
}
.outer_header{
    width: 100%;
    height: 63px;
    background-color: black;
    position: fixed;
    top: 0;
}
.inner_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.inner_header a {
    text-decoration: none;
    color: #FFF;
    font-family: Imbue;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    position: relative;
    top: 15px;
}
.att_row {
    display: flex;
    justify-content: space-around;
    padding: 10pc;
}
.text span h1 {
    color: #110581;
    font-family: Imbue;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9.6px;
}
.text span p {
    color: #000;
    font-family: Imbue;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
}
.img img {
    display: block;
    background-color: red;
    width: 698px;
    height: 621px;
    border: solid 15px #110581;
}
.text {
    padding: 10px;
    width: 555px;
}
.img {
    padding: 10px;
}




@media only screen and (max-width: 431px) {
    .inner_header a {
        text-decoration: none;
        color: #FFF;
        font-family: Imbue;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0px;
        position: relative;
        top: 15px;
        margin-top: 10px;
        z-index: 200;
        max-width: 100%;
    }

    .att_row {
        display: block;
        padding: 0;
        margin: 8pc 0;
    }

    .text span h1 {
        font-family: Imbue;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
    }
    .text span p {
        color: #000;
        font-family: Imbue;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        width: 100%;
    }
    .img img {
        display: block;
        background-color: red;
        width: 95%;
        height: 150px;
        text-align: center;
        align-items: center;
        align-content: center;
        
    }
    .text {
       width: 100%;
       text-align: center;
    }
    .img {
        padding: 10px;
        
    }


}
